body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f06, #ffb);
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input, select, button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#progress-container {
    margin-top: 20px;
    background-color: #f3f3f3;
    border-radius: 25px;
    height: 25px;
    width: 100%;
    position: relative;
}

#progress-bar {
    background: linear-gradient(to right, #4caf50, #8bc34a);
    height: 100%;
    width: 0;
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
}

#progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 25px;
}
